---
layout: default
---

<!-- Mold Magazine Toto -->
<div class="project half-size" id="toto">
	{% responsive_image path: img/toto1.jpg template: _includes/responsive-image-not-lazy.html %}
	{% responsive_image path: img/toto2.jpg template: _includes/responsive-image-not-lazy.html %}
	<div class="caption">Mold Magazine Issue 1, Photography by Thomas McCarty. With Matthew&nbsp;Tsang. — June 2017</div>
</div>

<!-- SSENSE Intro -->
<div class="project full-size" id="ssense">
	<img src="img/ssense-logo.svg" max-width="60%">
	<div class="caption">I'm currently the Director of Design at SSENSE, where I lead and manage a group of ten designers and art directors on re-launching the visual identity and creating a unified design language across all touchpoints.</div>
</div>

<!-- SSENSE Social -->
<div class="project portrait" id="social">
	{% responsive_image path: img/ssense-social-2.jpg %}
	<div class="caption">SSENSE Off Model Art Direction, with Matthew&nbsp;Tsang. Assisted by Thanh Truc Trinh. Photography by Thomas McCarty. Set Design by Alex Hercule Desjardins. — August 2017</div>
</div>

<!-- Satie Logo -->
<div class="project three4" id="satie-mark">
	<img class="lazyload" data-src="img/satie.svg"">
	<div class="caption">Logo design, for Satie — October 2013</div>
</div>

<!-- Mold BaRoo -->
<div class="project three4" id="mold-fung">
	{% responsive_image path: img/mold-fungalf.jpg width: 50% %}
	<div class="caption">Masthead / Nameplate design for Mold Magazine. A publication about the future of food. — October, 2016</div>
</div>

<!-- Mold Masthead -->
<div class="project full-size" id="mold-mast">
	<img src="img/mold-mast.svg">
	<div class="caption">Masthead / Nameplate design for Mold Magazine. A publication about the future of food. — October, 2016</div>
</div>

<!-- Mold Coffee -->
<div class="project three4" id="mold-baroo">
	{% responsive_image path: img/mold-19.jpg %}
	<div class="caption">Masthead / Nameplate design for Mold Magazine. A publication about the future of food. — October, 2016</div>
</div>


<!-- Teresa Teng Poster -->
<div class="project portrait" id="tt-p">
	{% responsive_image path: img/tt.jpg %}
	<div class="caption">Teresa Teng, Comissioned by Catalogue for their 2015 exhibition Friends Our Family at KK Outlet. — 297 × 420mm, Silkscreened print. October 2015</div>
</div>

<!-- Art Palestine International -->
<div class="project full-size" id="api">
	<img src="img/api.svg">
	<div class="caption">Logo design for Art Palestine International. Designed with Scott&nbsp;Langer. — October 2014</div>
</div>

<!-- Mold BaRoo -->
<div class="project three4" id="mold-coffee">
	{% responsive_image path: img/mold-6.jpg %}
	<div class="caption">Masthead / Nameplate design for Mold Magazine. A publication about the future of food. — October, 2016</div>
</div>


<!-- Mold Spread -->
<div class="project half-size" id="mold-cover">
	{% responsive_image path: img/mold-back-cover.jpg %}
	{% responsive_image path: img/mold-cover.jpg %}
	<div class="caption">Cover design and typography for Mold Issue 01. With Matthew&nbsp;Tsang. Photography by David Brandon Geeting.</div>
</div>

<!-- Leong Leong -->
<div class="project portrait" id="leong">
	<img src="img/leong-leong.svg">
	<div class="caption">Logo design for Leong Leong Architects — December 2016</div>
</div>

<!-- JW ANDERSON -->
<div class="project full-size" id="api">
	{% responsive_image path: img/jw1.jpg %}
	<div class="caption">Logo design for Art Palestine International. Designed with Scott Langer. — October 2014</div>
</div>


<!-- Ruthless Poster -->
<div class="project portrait" id="ruthless-poster">
	{% responsive_image path: img/ruthless-poster.jpg %}
	<div class="caption">Poster design and illustration for Miss Ruthless, an ongoing exhibition series on pageantry as method. — 420 × 594mm Digital Print, July 2017. With Matthew&nbsp;Tsang</div>
</div>

<!-- Social2 -->
<div class="project half-size" id="wet">
	{% responsive_image path: img/ssense-social-3.jpg %}
	{% responsive_image path: img/ssense-social-4.jpg %}
	<div class="caption">Logo design for Wet — May 2016</div>
</div>


<!-- v1984 -->
<div class="project half-size" id="v1984">
	{% responsive_image path: img/v1984_web.jpg %}
	{% responsive_image path: img/backside.jpg %}
	<div class="caption">Record sleeve design for v1984's Becoming N(one) — June 2016</div>
</div>


<!-- Nothing in Common -->
<div class="project portrait" id="nic">
	<img src="img/nic.svg">
	<div class="caption">Identity design for Nothing in Common, a now-defunct design and technology studio that I co-founded. — January 2014</div>
</div>

<!-- Mold Coffee -->
<div class="project three4" id="mold-fung">
	{% responsive_image path: img/mold-65.jpg %}
	<div class="caption">Masthead / Nameplate design for Mold Magazine. A publication about the future of food. — October, 2016</div>
</div>

<!-- Satie Revolution -->
<div class="project portrait" id="satie-revolution">
	{% responsive_image path: img/satie-revolution.jpg %}
	<div class="caption">Drawing, January 2014</div>
</div>


<!-- Sociology -->
<div class="project portrait" id="verso-soc">
	{% responsive_image path: img/sociology.jpg %}
	<div class="caption">Hyper, Digital. — May 2015</div>
</div>

<!-- v1984 label -->
<div class="project fullscreen" id="v1984-label">
	<img class="lazyload" data-src="img/v1984c.svg">
	<div class="caption">Vinyl Label Design for v1984's Becoming N(one) — June 2016</div>
</div>

<!-- Satie Spreads -->
<div class="project three4" id="satie-loop">
	<img class="lazyload" data-src="img/satie-loop.svg">
	<div class="caption">Lil doodle — October 2013</div>
</div>


<!-- Fat Magazine 3 -->
<div class="project three4" id="fat2">
	{% responsive_image path: img/fat2.jpg %}
	<div class="caption">Commisioned by FAT Magazine</div>
</div>


<!-- Satie Evo -->
<div class="project portrait" id="satie2">
	<img class="lazyload" data-src="img/evo.svg">
	<div class="caption">Another lil' doodle — October 2013</div>
</div>

<!-- Adidas -->
<div class="project half-size" id="adidas">
	{% responsive_image path: img/adidas1.jpg %}
	{% responsive_image path: img/adidas2.jpg %}
	<div class="caption">Matter over Matrix, 3.35 × 3.36 metre mural, series of 2. Installed in the New Museum as part of Adidas' Future Capsule exhibition in the New Museum. Curated by Kamp Grizzly. — May 2017</div>
</div>

<!-- v1984 logo -->
<div class="project portrait" id="v1984-logo">
	<img class="lazyload" data-src="img/v1984-logo.svg">
	<div class="caption">Lettering for v1984 — May 2016</div>
</div>

<!-- Bangkok CityCity -->
<div class="project half-size" id="bk">
	{% responsive_image path: img/bk1.jpg %}
	{% responsive_image path: img/bk2.jpg %}
	{% responsive_image path: img/bk3.jpg %}
	{% responsive_image path: img/bk4.jpg %}
	<div class="caption">Logo and typographic system for a bilingual gallery in Thailand</div>
</div>

<!-- Avery Logo -->
<div class="project full-size" id="avery">
	<img class="lazyload" data-src="img/avery1.svg">
	<div class="caption">Teresa Teng, Comissioned by Catalogue</div>
</div>

<!-- Satie Emperor -->
<div class="project three4" id="satie-revolution">
	{% responsive_image path: img/satie-emperor.jpg %}
	<div class="caption">Drawing, January 2014</div>
</div>

<!-- Wet -->
<div class="project full-size" id="wet1">
	<img class="lazyload" data-src="img/wet2.svg">
	<div class="caption">Lettering for Wet</div>
<!-- 	<img class="lazyload" data-src="img/wet-shirt-2.jpg"> -->
	</div>

<!-- Hyper -->
<div class="project portrait" id="hp">
	{% responsive_image path: img/hp1.jpg %}
	<div class="caption">Hyper, Digital. — May 2015</div>
</div>


<!-- Fat Magazine 2 -->
<div class="project three4" id="fat3">
	{% responsive_image path: img/fat3.jpg %}
	<div class="caption">Illustration for the New York Times</div>
</div>

<!-- Ziin -->
<div class="project full-size" id="ziin">
	{% responsive_image path: img/ziinrender.jpg %}
</div>

<!-- Avery Page -->
<div class="project three4" id="avery_web">
	{% responsive_image path: img/avery_02.jpg %}
	<div class="caption">Hyper, Digital. — May 2015</div>
</div>


<!-- Fat Magazine 1 -->
<div class="project three4" id="fat1">
	{% responsive_image path: img/fat1.jpg %}
	<div class="caption">Illustration for the New York Times</div>
</div>

<!-- Shock -->
<div class="project half-size" id="shock">

	{% responsive_image path: img/shock.jpg %}
	{% responsive_image path: img/shock.gif %}
	<div class="caption">Visual essay on Berton Hasebe's digital revival of Jan Van Krimpen's typeface <i>Lutetia</i>. First published in Issue 02 of Talk Magazine. (Read Here)</div>
</div>

<!-- Satie Spreads -->
<div class="project three4" id="satie-rock">
	{% responsive_image path: img/rock.jpg %}
	{% responsive_image path: img/ff7.jpg %}
</div>


<div class="project portrait" id="satie2">
	<img class="lazyload" data-src="img/right.svg">
	<div class="caption">Visual essay on Berton Hasebe's digital revival of Jan Van Krimpen's typeface <i>Lutetia</i>. First published in Issue 02 of Talk Magazine. (Read Here)</div>
</div>


<div class="project full-size" id="satie3">
	{% responsive_image path: img/vannevar.jpg %}
</div>

<!-- Censorship NYTimes -->
<div class="project full-size" id="nyt">
	{% responsive_image path: img/nyt.jpg %}
	<div class="caption">Illustration for the New York Times</div>
</div>


<article class="post">
	{% include about-intro.html %}
	{% include about-columns.html %}
</article>


<div class="caption">
© Eric Hu 2012–2017 SGV → MTL<br> God Loves the Homies
</div>
