<div class="project full-size" id="satie">
	<img class="lazy" data-original="img/satie.svg">
	<img class="lazy" data-original="img/satie-loop.svg">
	<img class="lazy" data-original="img/rock.jpg">
	<img class="lazy" data-original="img/ff7.jpg">
	<img class="lazy" data-original="img/emperor_.jpg">
</div>
<div class="project half-size" id="satie2">
	<img class="lazy" data-original="img/evo.svg" width="50%">
	<img class="lazy" data-original="img/right.svg" width="50%">
	<div class="caption">Visual essay on Berton Hasebe's digital revival of Jan Van Krimpen's typeface <i>Lutetia</i>. First published in Issue 02 of Talk Magazine. (Read Here)</div>
</div>
<div class="project full-size" id="satie3">
	<img class="lazy" data-original="img/vannevar.jpg">
</div>