<div class="about-columns">
		<h3>Elsewhere</h3>
		<ul>
			<li><a href="mailto:mail@erichu.info">mail@erichu.info</a></li>
			<li><a href="http://e-r-h.tumblr.com" target="_blank">Blog</a></li>
			<li>twitter: <a href="http://twitter.com/_erichu" target="_blank">@_erichu</a></li>
			<li>instagram: <a href="http://instagram.com/_erichu" target="_blank">@_erichu</a></li>
		</ul>
		<h3>Recent Clients</h3>
			<ul>
				<li>Mold Magazine</li>
				<li>Miss Ruthless</li>
				<li>Editions de Parfum Frederic Malle</li>
				<li>Nike</li>
				<li>The New York Times</li>
				<li>3.1 Phillip Lim</li>
				<li>Leong Leong Architecture</li>
				<li>Columbia Records / Wet</li>
				<li>Columbia University</li>
				<li>Mother New York</li>
				<li>Art Palestine International</li>
				<li>Ninja Tune Records / The Bug</li>
				<li>Saint Heron</li>
				<li>CF. Goldman</li>
				<li>Barton F. Graf 9000</li>
				<li>West</li>
				<li>Anki</li>
				<li>Braintree</li>
				<li>Tri Angle Records</li>
				<li>Evian Christ</li>
				<li>UNO</li>
				<li>Sid Lee</li>
				<li>Bangkok CityCity Gallery</li>
				<li>v1984</li>
			</ul>
		<h3>Education</h3>
		<ul>
			<li>Yale University School of Art<br>New Haven, Connecticut, 2013<br>MFA Graphic Design<br>Bradbury Thompson Memorial Prize</li>
		</ul>
		<h3>Teaching</h3>
			<ul>
				<li>School of Visual Arts, Communication Design 1, 2015–2016</li>
				<li>Parsons The New School for Design, Creative Coding, 2014</li>
			</ul>	
	</div>
	  <div class="about-columns">
			<h3>Interviews</h3>
			<ul>
				<li><a href="https://bondstreet.com/fornewyork/posts/eric-hu/" target="_blank">For New York</a></li>
				<li><a href="http://digitaldesign.represent.uk.com/index.php/nothing-in-common" target="_blank">Exploring Digital Design: Nothing in Common</a></li>
				<li><a href="https://soundcloud.com/yourdreamsmynightmares/ydmn_011814/" target="_blank">Your Dreams My Nightmares</a></li>
				<li><a href="http://www.itsnicethat.com/articles/introducing-eric-hu" target="_blank">It's Nice That</a></li>
				<li><a href="https://www.youtube.com/watch?v=yzKM_DXfOBA" target="_blank">i-D: Future Fashion</a></li>
				<li><a href="https://walkerart.org/magazine/2014-the-year-according-to-eric-hu" target="_blank">Walker Art Center: The Year According to Eric Hu, 2014</a></li>
			</ul>
			<h3>Press</h3>
			<ul>
				<li><a href="https://eyeondesign.aiga.org/mold-is-a-new-anti-foodie-food-magazine-with-strong-opinions-and-design-to-match/" target="_blank">AIGA Eye on Design: MOLD is a New Anti-foodie Food Magazine with Strong Opinions—and Design to Match</a></li>
				<li><a href="hhttp://www.dazeddigital.com/music/article/31069/1/exploring-the-asian-art-underground-through-a-western-lens" target="_blank">Dazed: The Asian Art Collective Celebrating Self-Love</a></li>
				<li><a href="https://thump.vice.com/en_ca/article/nzm7zb/eternal-dragonz-collective-explores-what-being-asian-in-the-west-means-by-reimaginging-pop-music" target="_blank">Vice: Eternal Dragonz, 2016</a></li>
				<li><a href="http://www.papermag.com/this-app-soundtracks-your-williamsburg-bridge-journey-with-mykki-blanc-1427597923.html" target="_blank">Paper Magazine: This App Soundtracks Your Williamsburg Bridge Journey</a></li>
				<li><a href="http://www.itsnicethat.com/articles/eric-hu" target="_blank">It's Nice That 1</a></li>
				<li><a href="http://www.itsnicethat.com/articles/introducing-eric-hu" target="_blank">It's Nice That 2</a></li>
				<li><a href="http://www.itsnicethat.com/articles/eric-hu-a-thousand-characters" target="_blank">It's Nice That 3</a></li>
				<li><a href="http://www.itsnicethat.com/articles/eric-hu-talk" target="_blank">It's Nice That 4</a></li>
			</ul>
			<h3>Speaking</h3>
			<ul>
			<li>Dynamic MTL: On Brand, 2017</li>
			<li>Eric Hu: Lecture at CalArts, 2015</li>
			<li>Period Styles, Triple Canopy, 2014</li>
			<li>AIGA Fresh Blood IV, 2013</li>
			</ul>
			<h3>Writing</h3>
			<ul>
			<li>Level Up: Berton Hasebe, Jan Van Krimpen and the Art of Doing Something Over and Over Again, Talk Magazine, 2016</li>
			<li>The Politics of Style, Talk Magazine, 2016</li>
			<li>The Flag of Our Disposition, Talk Magazine, 2015</li>
			</ul>
			<h3>Group Shows</h3>
			<ul>
				<li>AIGA: Thinking, Making in the City, 2015</li>
				<li>After the Museum, Museum of Art and Design, 2013</li>
			</ul>

		</div>