<div class="about-columns">
		<h3>Elsewhere</h3>
		<ul>
			<li>mail@erichu.info</li>
			<li>twitter: @_erichu</li>
			<li>instagram: @_erichu</li>
		</ul>
		<h3>Recent Clients</h3>
			<ul>
				<li>Mold Magazine</li>
				<li>Miss Ruthless</li>
				<li>Editions de Parfum Frederic Malle</li>
				<li>Nike</li>
				<li>The New York Times</li>
				<li>3.1 Phillip Lim</li>
				<li>Leong Leong Architecture</li>
				<li>Columbia Records / Wet</li>
				<li>Columbia University</li>
				<li>Mother New York</li>
				<li>Art Palestine International</li>
				<li>Ninja Tune Records / The Bug</li>
				<li>Saint Heron</li>
				<li>CF. Goldman</li>
				<li>Barton F. Graf 9000</li>
				<li>West</li>
				<li>Anki</li>
				<li>Braintree</li>
				<li>Tri Angle Records</li>
				<li>Evian Christ</li>
				<li>UNO</li>
				<li>Sid Lee</li>
				<li>Bangkok CityCity Gallery</li>
				<li>v1984</li>
			</ul>
		<h3>Education</h3>
		<ul>
			<li>Yale University School of Art<br>New Haven, Connecticut, 2013<br>MFA Graphic Design<br>Bradbury Thompson Memorial Prize</li>
		</ul>
	</div>
	  <div class="about-columns">
			<h3>Interviews</h3>
			<ul>
				<li>For New York</li>
				<li>Your Dreams My Nightmares</li>
				<li>It's Nice That</li>
				<li>i-D: Future Fashion</li>
				<li>Walker Art Center: The Year According to Eric Hu, 2014</li>
			</ul>
			<h3>Press</h3>
			<ul>
				<li>Dummy: The Asian Art Collective Celebrating Self-Love</li>
				<li>Vice: Eternal Dragonz, 2016</li>
				<li>Paper Magazine: This App Soundtracks Your Williamsburg Bridge Journey</li>
				<li>It's Nice That</li>
				<li>i-D: Future Fashion</li>
				<li>The Year According to Eric Hu, Walker Art Center, 2014</li>
			</ul>
			<h3>Speaking</h3>
			<ul>
			<li>Dynamic MTL: On Brand, 2017</li>
			<li>Eric Hu: Lecture at CalArts, 2015</li>
			<li>Period Styles, Triple Canopy, 2014</li>
			</ul>
			<h3>Writing</h3>
			<ul>
			<li>Level Up: Berton Hasebe, Jan Van Krimpen and the Art of Doing Something Over and Over Again, Talk Magazine, 2016</li>
			<li>The Politics of Style, Talk Magazine, 2016</li>
			<li>The Flag of Our Disposition, Talk Magazine, 2015</li>
			</ul>
			<h3>Group Shows</h3>
			<ul>
				<li>AIGA: Thinking, Making in the City, 2015</li>
				<li>After the Museum, Museum of Art and Design, 2013</li>
			</ul>

		</div>