<footer class="site-footer">

  <div class="wrapper">
<!-- 
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
 -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script type="text/javascript">
        $( window ).scroll(function() {
          $('.navigation-wrapper').css('opacity','0');
          clearTimeout( $.data( this, "scrollCheck" ) );
          $.data( this, "scrollCheck", setTimeout(function() {
           $('.navigation-wrapper').css('opacity','1');
          }, 250) );

        });
    $(window).on('load',function(){
      $('body').addClass('loaded');
    });

</script>