<header class="site-header">
  <div class="wrapper">
    <div class="project-2" style="float:left;font-size:36px;letter-spacing:-0.08em;">
  ERIC HU — PROFILE, CONTACT
</div>

<div class="project" style="float:left;">
  <div class="caption">I'm a creative director with a background in branding and art direction. Previously I was Global Design Director at Nike as well as the Director of Design at SSENSE.</div>
</div>

<div class="project" style="float:left;">
  <div class="caption">Available for freelance for design, art direction or creative direction. For work enquires or a portfolio request with more commercial projects, please contact mail@erichu.info</div>
</div>
 <!--    <nav class="site-navigation">   
         {% if page.url == "/" %}
              <a href="{{ site.baseurl }}/" id="back-link">{{ site.title }}</a>
            {% else %}
              <a href="{{ site.baseurl }}/" id="back-link">&larr; Back</a>
            {% endif %}
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <span class="page-link"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></span>
          {% endif %}
        {% endfor %}
           <span class="page-link"><a href="mailto:mail@erichu.info">Contact</a></span>

      <span class="updated"><span class="stat stat-update"><span class="stat-title">Updated:</span>&nbsp;<span class="stat-content">24.08.17</span></span> <span class="stat stat-nyc"><span class="stat-title">NYC:</span>&nbsp;<span class="stat-content">02:35PM</span></span>&nbsp;<span class="stat stat-mtl"><span class="stat-title stat-title-mtl">MTL:</span>&nbsp;<span` class="stat-content stat-content-mtl">14h35</span></span>
        </span>
    </nav>
   <div class="sub-title"><span class="page-link"><a href="mailto:mail@erichu.info">mail@erichu.info</a></span></div> -->
  </div>
</header>
<div class="scroll-badge">
  <span class="scroll-badge-links"><span class="scroll-badge-name">Eric Hu</span> — ●&nbsp;<a href="/info" class="scroll-badge-link">Info</a>, ●&nbsp;<a class="scroll-badge-link" href="mailto:mail@erichu.info">Contact</a></span>
  <span class="top-of-page">&uarr;</span>
</div>
