<header class="site-header">
  <div class="wrapper">
    <nav class="site-navigation">   
        <span class="site-title">
         {% if page.url == "/" %}
              <a href="{{ site.baseurl }}/">{{ site.title }}</a>
            {% else %}
              <a href="{{ site.baseurl }}/">← Back</a>
            {% endif %}
        </span>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <span class="page-link"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></span>
          {% endif %}
        {% endfor %}
        <span class="updated"><span class="stat-title">Updated: </span>14.08.17<span class="stat-title">NYC: </span>08:36PM<span class="stat-title">MTL: </span>20h36</span>
    </nav>
    <div class="sub-title">Creative Direction <span class="page-link"><a href="mailto:mail@erichu.info">Contact</a></span></div>
  </div>
</header>
<div class="scroll-badge">
  Eric Hu — <a href="/info">Info</a>, <a href="mailto:mail@erichu.info">Contact</a>
</div>