
.site-title {
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

.sub-title {
    font-family: $secondary-font-family;
    text-transform: uppercase;
}
.page-link {
    font-family: $secondary-font-family;
    display: inline-block;
    text-transform: uppercase;
    margin-left: $spacing-unit;
    a {
         vertical-align: top;
         text-decoration: none;
         position: relative;
         &:after {
           content: "";
           border-bottom: 0.20vw solid $text-color;
           position: absolute;
           left: 0;
           right: 0;
           bottom: 5px;
         }
    }
}

.stat-title {
    @include character($secondary-font-family,$small-font-size,true);
    margin-left: $spacing-unit;
}

.caption {
    @extend .stat-title;
    text-align: center;
    clear: both;

}

.current-activity {
    @include character($secondary-font-family,$small-font-size,true);
    text-align: center;
    margin-top: $spacing-unit;
}

.project {
    clear: both;
    img {
        text-align: center;
    }
}


.half-size img {
    max-width: 50% - ($spacing-unit * 2);
    margin: $spacing-unit;
    float: left;
    box-sizing: border-box;
}