

header {
    font-size: $base-font-size;
    margin: 0 auto;
    text-align: left;

    @include mobile {
        font-size: $base-font-size * 1.5;
        letter-spacing: -0.1px;

    }

}

.gallery {
    z-index: -99;
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    font-size: $large-font-size;
    padding: 10px;
    background: rgba(0,0,0,0.95);
    color: rgb(255,255,255);
    width: 100vw;
    height: 100vh;

    img {
        max-height: 80vh;
        width: auto;
        float: left;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

}

#gallery-img {
    width: auto;
    height: 80vh;
    float: left;

}

.gallery-nav {
    float: left;
}

.gallery-next {
    position: fixed;
    top: 50%;
    right: 5vh;
    transform: translateY(-50%);
    cursor: pointer;
}

.gallery-prev {
    position: fixed;
    top: 50%;
    left: 5vh;
    transform: translateY(-50%);
    cursor: pointer;
}

.gallery-hide {
    position: fixed;
    cursor: pointer;
    top: 5vh;
    right: 5vh;

}

.site-title {
    a {
        text-decoration: none;
        // text-transform: uppercase;
    }
}

.site-header{
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.seen {
    z-index: 99;
    opacity: 1;
}

.sub-title {
    font-family: $secondary-font-family;
    // text-transform: uppercase;
}

.navigation-wrapper {
    background: #fff;
    height: auto;
    width: 100%;
    z-index: 9;

}

.site-navigation {
    padding: $spacing-unit/2 0 0 $spacing-unit*2;
    text-align: left;
    font-size: $base-font-size;
    text-transform: uppercase;


    @include mobile {
    width: 100%;
    text-align: center;
    } 
}
.page-link {
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: $base-font-size -1;
    margin-left: $spacing-unit;
    text-transform: uppercase;
    // margin-right: $spacing-unit;
    // text-transform: uppercase;
    
    a {
         text-transform: underline;
        
    }
}


.column {
    float: left;
    text-align: center;
    width: 33.33%;
}

.stat-title {
    // @include character($secondary-font-family,$small-font-size,true);
    // letter-spacing: 0.35px;
    
}

.stat-content {
    margin-right: $spacing-unit;
}

.updated {
     @include mobile {
        display: none;
    }
}

.caption {
    // @extend .stat-title;
    clear: both;
    font-size: $base-font-size;
    text-align: left;
    font-family:$secondary-font-family;
    margin: $spacing-unit auto;
    max-width: 800px;
    text-transform: none;
    // width: 50%;

    @include mobile {
        width: 100% - ($spacing-unit * 2 );
        text-transform: none;
        text-align: left;
    }

}

.headline {
    margin: $spacing-unit auto;
    font-size: $base-font-size -1;
}

.current-activity {
    @include character($secondary-font-family,$small-font-size,true);
    text-align: center;
    margin-top: $spacing-unit;
}

.container {
margin-top: $spacing-unit;
/*display: grid;
grid-gap: $spacing-unit/3;
grid-row-gap: $spacing-unit/3;
grid-template-columns: repeat(4, minmax(20%,1fr));
@include mobile {
    grid-template-columns: none;
    grid-row-gap: 0;
}*/
  display: flex;
  display: -webkit-flex;
  fill: $text-color;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}
.container:after {
/*  display: block;
  content: " invisible node ";
  flex: 999 999 auto;*/
}

@mixin project($size) {
    width: $size;
    padding: $spacing-unit/6;
    box-sizing: border-box;

    @include mobile {
        width: 50%;
    }
    img {
        margin-bottom: $spacing-unit / 3;
        cursor: pointer;
    }
}

.project {
    @include project(25%);

}

.project-2 {
    @include project(50%);
}

.project-full {
    @include project(80%);
    clear:both;
}



.full-size {
    img {
        position: relative;
        transform-origin: 50% 50%;
        left: (50%);
        width: 100% - ($spacing-unit);
        box-sizing: border-box;
        @include transform(translateX(-50%));

    }
}

.img-center {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
}

.half-size img {
    // max-width: $half-size-width;
  //  float: left;
    box-sizing: border-box;

    &:first-of-type {
    margin-right: $spacing-unit / 6;
    @include mobile {
        margin-right: 0;
    }

    }

    &:last-of-type {
       margin-left: $spacing-unit / 6;
        @include mobile {
            margin-left: 0;
        }

    }

    @include mobile {
        clear: both;
        max-width: $mobile-img-width;
        left: 50%;
        position: relative;
        @include transform(translateX(-50%));

    }

}

.post {
    font-size: $base-font-size +1;
}
.portrait {
    img {
        max-height: $portrait-height;
       // max-width: 50%;
        @extend .img-center;
        @include mobile {
        max-width: $mobile-img-width;
        }
    }
}

.three4 img{
    max-width: $three4-width;
    @extend .img-center;
    @include mobile {
    max-width: $mobile-img-width;
    }

}



.about-intro {
    @include character($secondary-font-family,$base-font-size,false);
    float: left;
    padding-top: $spacing-unit*0.7;
    width: 50%;
    max-width: 800px;
    img {
        max-width: 80%;
        margin: $spacing-unit * 2;
        clear: both;
        display: block;
    }

    @include mobile {
        width: 100%;
    }

    p + p, figure + p {
        text-indent: $spacing-unit * 2;
    }
}
.about-columns{
    @include character($secondary-font-family,$base-font-size,false);
    width: 25%;
    max-width: 400px;
    box-sizing: border-box;
    float: left;

    h3 {
        @include character($base-font-family,$base-font-size -1,true);
        letter-spacing: 0.2px;
        // line-height: 22px;

    }

    @include mobile {
        width: 100%;
        clear: both;
    }
}

.colophon {
    font-size: $small-font-size;
    font-family: $base-font-family;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit * 2;
}

.back-link {
    margin-left: -10px;
    text-decoration: underline;
    &:before {
        content: '← ';
    }
}