
header {
    font-size: $large-font-size;
    letter-spacing: -0.2vw;
    margin: 0 auto;

    @include mobile {
        font-size: $base-font-size * 1.5;
        letter-spacing: -0.1px;

    }

}
.site-title {
    a {
        letter-spacing: 0.1px;
        text-decoration: none;
        text-transform: uppercase;
    }
}


.sub-title {
    font-family: $secondary-font-family;
    text-transform: uppercase;
}

.navigation-wrapper {
    background: #fff;
    height: auto;
    width: 100%;
    z-index: 9;

}

.site-navigation {
    padding-top: $spacing-unit / 3;
}
.page-link {
    display: inline-block;
    font-family: $secondary-font-family;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    text-transform: uppercase;
    
    a {
         position: relative;
         vertical-align: top;
          
          &:after {
            border-bottom: 0.15vw solid $text-color;
            bottom: 0.6vw;
            content: "";
            left: 0;
            right: 0;
            position: absolute;
          }
    }
}


.column {
    float: left;
    text-align: center;
    width: 33.33%;
}

.stat-title {
    @include character($secondary-font-family,$small-font-size,true);
    letter-spacing: 0.35px;
    
}

.stat-content {
    margin-right: $spacing-unit;
}

.updated {
     @include mobile {
        display: none;
    }
}

.caption {
    @extend .stat-title;
    clear: both;
    line-height: 22px;
    text-align: center;
    margin: 0 auto $spacing-unit * 3 auto;
    max-width: 800px;
    width: 50%;

    @include mobile {
        width: 100% - ($spacing-unit * 2 );
        text-transform: none;
        text-align: left;
    }

}

.current-activity {
    @include character($secondary-font-family,$small-font-size,true);
    text-align: center;
    margin-top: $spacing-unit;
}

.project {
    clear: both;
    cursor: s-resize;

    @include mobile {
        margin-bottom: $spacing-unit * 10;    
    }

    img {
        margin-top: $spacing-unit ;
        margin-bottom: $spacing-unit;
    }

}


.full-size {
    img {
        position: relative;
        transform-origin: 50% 50%;
        left: (50%);
        width: 100% - ($spacing-unit);
        box-sizing: border-box;
        @include transform(translateX(-50%));

    }
}

.img-center {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
}

.half-size img {
    max-width: $half-size-width;
    float: left;
    box-sizing: border-box;

    &:first-of-type {
    margin-right: $spacing-unit*0.5;
    @include mobile {
        margin-right: 0;
    }

    }

    &:last-of-type {
        margin-left: $spacing-unit*0.5;
        @include mobile {
            margin-left: 0;
        }

    }

    @include mobile {
        clear: both;
        max-width: $mobile-img-width;
        left: 50%;
        position: relative;
        @include transform(translateX(-50%));

    }

}
.portrait {
    img {
        max-height: $portrait-height;
        max-width: 50%;
        @extend .img-center;
        @include mobile {
        max-width: $mobile-img-width;
        }
    }
}

.three4 img{
    max-width: $three4-width;
    @extend .img-center;
    @include mobile {
    max-width: $mobile-img-width;
    }

}



.about-intro {
    @include character($secondary-font-family,$base-font-size,false);
    letter-spacing: 0.5px;
    float: left;
    padding-top: $spacing-unit;
    line-height: 22px;
    width: 50%;
    max-width: 800px;
    img {
        max-width: 80%;
        margin: $spacing-unit * 2;
        clear: both;
        display: block;
    }

    @include mobile {
        width: 100%;
    }

    p + p, figure + p {
        text-indent: $spacing-unit * 2;
    }
}
.about-columns{
    @include character($secondary-font-family,$base-font-size + 1,false);
    width: 25%;
    max-width: 400px;
    box-sizing: border-box;
    line-height: 22px;
    padding: $spacing-unit;
    float: left;

    h3 {
        @include character($base-font-family,$base-font-size,true);
        letter-spacing: 0.2px;
        line-height: 22px;

    }

    @include mobile {
        width: 100%;
        clear: both;
    }
}

.colophon {
    font-size: $small-font-size * .75;
    font-family: $base-font-family;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit * 2;
}

.back-link {
    margin-left: -10px;
    text-decoration: underline;
    &:before {
        content: '← ';
    }
}