body {
    opacity: 0;
    transition: all 0.5s ease;
    &.loaded{
        opacity: 1;
    }
}

.lazyload {
    opacity: 0;
}
.lazyloading {
    opacity: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.portrait .lazyload, .portrait .lazyloading {
    height: 98vh;
}

.half-size .lazyload, .half-size .lazyloading {
    width: 50% - ($spacing-unit * 0.5);
}

.three4 .lazyload, .three4 .lazyloading {
    width: 75%;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.mobile-images {
    @include mobile {
    max-width: 100% - ($spacing-unit * 2);
    }
}

header {
    font-size: $large-font-size;
    letter-spacing: -0.2vw;
    margin: 0 auto;

    @include mobile {
        font-size: $base-font-size * 1.5;
        letter-spacing: -0.1px;

    }

}
.site-title {
    a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1px;
    }
}


.sub-title {
    font-family: $secondary-font-family;
    text-transform: uppercase;
}

.navigation-wrapper {
    background: #fff;
    z-index: 10;
    width: 100%;
    height: auto;

}

.scroll-badge {
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(255,255,255,0.9);
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s ease;
    transform: translateY(-100%);
    box-shadow:0px 7px 40px -17px rgba(0,0,0,0.2);
    text-transform: uppercase;
    padding-left: $spacing-unit ;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    font-family: $secondary-font-family;
    font-size: $small-font-size * 2;
}


.scroll-badge-name {
    font-family: $base-font-family !important;
}

.scroll-badge-link {
    border-bottom: 1px solid $text-color;
}

.site-navigation {
    padding-top: $spacing-unit / 3;
}
.page-link {
    font-family: $secondary-font-family;
    display: inline-block;
    text-transform: uppercase;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    a {
         vertical-align: top;
         position: relative;
          &:after {
            content: "";
            border-bottom: 0.15vw solid $text-color;
            position: absolute;
            left: 0;
            right: 0;
           bottom: 0.6vw;
          }
    }
}


.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.stat-title {
    @include character($secondary-font-family,$small-font-size,true);
    letter-spacing: 0.35px;
    
}

.stat-content {
    margin-right: $spacing-unit;
}

.updated {
     @include mobile {
        display: none;
    }
}

.caption {
    @extend .stat-title;
    text-align: center;
    width: 50%;
    margin: 0 auto $spacing-unit auto;
    line-height: 22px;
    clear: both;

    @include mobile {
        width: 100% - ($spacing-unit * 2 );
        text-transform: none;
        text-align: left;
    }

}

.current-activity {
    @include character($secondary-font-family,$small-font-size,true);
    text-align: center;
    margin-top: $spacing-unit;
}

.project {
    clear: both;
    img {
        margin-top: $spacing-unit ;
        margin-bottom: $spacing-unit;
    }

}

.full-size {
    img {
        position: relative;
        transform-origin: 50% 50%;
        left: (50%);
        width: 100% - ($spacing-unit);
        box-sizing: border-box;
        @include transform(translateX(-50%));

    }
}


.half-size img {
    max-width: 50% - ($spacing-unit*0.5);
    float: left;
    box-sizing: border-box;

    &:first-of-type {
    margin-right: $spacing-unit*0.5;
    @include mobile {
        margin-right: 0;
    }

    }

    &:last-of-type {
    margin-left: $spacing-unit*0.5;
    @include mobile {
        margin-left: 0;
    }

    }

    @include mobile {
    max-width: 100% - ($spacing-unit*0.5);
    }

}

// .wrapper {
//     margin-left: $spacing-unit;
//     margin-right: $spacing-unit;
// }

.portrait {
    img {
        max-height: 98vh;
        max-width: 50%;
        position: relative;
        left: (50%);
        @include transform(translateX(-50%));
        @include mobile {
        max-width: 100% - ($spacing-unit * 2);
        }
    }
}

.three4 img{
    max-width: 75%;
    position: relative;
    left: (50%);
    @include transform(translateX(-50%));
    @include mobile {
    max-width: 100% - ($spacing-unit * 2);
    }

}



.about-intro {
    @include character($secondary-font-family,$base-font-size,false);
    letter-spacing: 0.5px;
    float: left;
    padding-top: $spacing-unit;
    line-height: 22px;
    width: 50%;
    img {
        max-width: 80%;
        margin: $spacing-unit * 2;
        clear: both;
        display: block;
    }

    @include mobile {
        width: 100%;
    }

    p + p {
        text-indent: $spacing-unit * 2;
    }
}
.about-columns{
    @include character($secondary-font-family,$base-font-size + 1,false);
    width: 25%;
    box-sizing: border-box;
    line-height: 22px;
    padding: $spacing-unit;
    float: left;

    h3 {
        @include character($base-font-family,$base-font-size,true);
        letter-spacing: 0.2px;
        line-height: 22px;

    }

    @include mobile {
        width: 50%;
    }
}

.back-link {
    margin-left: -10px;
    text-decoration: underline;
    &:before {
        content: '← ';
    }
}

.shadow {
    box-shadow: 0px 32px 122px -14px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 32px 122px -14px rgba(0,0,0,0.47);
box-shadow: 0px 32px 122px -14px rgba(0,0,0,0.47);
}