@charset "utf-8";



// Our variables
$spacing-unit:           2.25%;
$base-font-family:       'Helvetica','Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font-family:  'Bradford', 'Times New Roman', Times, SimSun, '华文黑体', STXihei, '华文细黑', serif;
$base-font-size:         16px;
$large-font-size:        36px;
$base-font-weight:       400;
$small-font-size:        $base-font-size;
$base-line-height:       1.2;
$portrait-height:        98vh;
$three4-width:           75%;
$mobile-img-width:       100% - ($spacing-unit * 2);

$half-size-width:        50% - ($spacing-unit * 0.5);

$text-color:             #000;
$background-color:       #fff;
$brand-color:            $text-color;

$grey-color:             #828282;
$grey-color-light:       lighten($grey-color, 40%);
$grey-color-dark:        darken($grey-color, 25%);

// Width of the content area
$content-width:          100%;

$on-palm:                100%;
$on-laptop:              100%;

$tablet-width:           768px;
$mobile-width:           320px;
$desktop-width:          1024px;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
						"sass/bourbon/bourbon",
						"sass/mixins",
						"sass/base",
						"sass/layout",
						"sass/transitions"
;
