/* Table of Contents

01. BASE
		Imports
		Variables
		Mix-ins
		Components

02. LAYOUT
		Typography
		Structure
		Grid
03. MODULES
04. STATE

*/

// 01. BASE

// Imports
@import 'nib'
global-reset()

// Variables
headlineFont = 'Bau LF', Helvetica, sans-serif
textFont = 'Big Caslon', 'Times New Roman', Times, serif
backgroundColor = #fff
textColor = #333
huge = 72px
big = 52px
med = 18px
smalle = 14px
lineHeight = 50px
mobileLineHeight = 24px
acronym = remove-unit(big) - unit(2, 'px')
mobileAcronym = remove-unit(med) - unit(1, 'px')
defaultTransition = all 0.2s
mobileWidth = "(max-width: 480px) and (min-width: 320px)"
hugeWidth = "(min-width: 1600px)"

// Mixins

font-url(file)
	return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.ttf')) format('truetype'), 
			url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal
	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url(font-url(file + '.svg#'+ family)) format('svg')

line-border-med()
	border 1px solid textColor
	padding 5px
	font-size med
	white-space nowrap
	cursor pointer
	vertical-align middle
	display inline

	@media mobileWidth
		font-size smalle
		border 0
		margin-top 10px
		display block

column-defaults()
	margin 50px 0 0px 0
	padding 0 20px 0 0px
	font med headlineFont
	box-sizing border-box
	float left


// Components

html
	background backgroundColor
	max-width 100%
	margin 0
	padding 0px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	width 100%
	height 100%
	box-sizing border-box
	a
		text-decoration none
		color textColor


body
	width 100%
	height 100%
	box-sizing border-box
	line-height lineHeight
	font textFont

		@media mobileWidth
			line-height mobileLineHeight


// 02. LAYOUT

// Typography

webfont('Bau LF', 'BauComp', true, 'normal')
webfont('Big Caslon', 'BigCaslon', true, 'normal')

#rapper
	width 100%
	position absolute
	padding 20px 40px 40px 40px
	float left
	box-sizing border-box

	@media mobileWidth
		padding 10px

	
.shove-trans
	-webkit-transition width 2s ease-in
    -moz-transition width 2s ease-in
    -o-transition width 2s ease-in


	@media mobileWidth
		padding 15px
		line-height mobileLineHeight
		letter-spacing 1px
.contact
	position fixed
	top 60px
	right 20px
	width 3%
	padding 0
	margin 0
	box-sizing border-box
	img
		max-width 100%
	
.shove
	width 90% !important

.open
	width 20%
	position fixed
	height 100%
	padding 15px
	float left
	border-right 1px solid textColor
	box-sizing border-box
	font med textFont
	line-height mobileLineHeight

#drawer
	width 0



section
	width 100%
	float left
	color textColor
	
	img
		display block
		margin 30px auto
		width auto
		max-width 75%
		height auto

		@media mobileWidth
			width auto
			max-width 100%
			height auto
			display inline-block
		@media hugeWidth
			margin 60px auto

	@media mobileWidth
		line-height mobileLineHeight

.column
	column-defaults()
	width 25%

	@media (max-width:800px)
		width 50%
	
	@media mobileWidth
		width 100%

	ul
		margin 0
		padding 0

		li
			list-style none
			margin 0
			padding 0

.column-2
	column-defaults()
	width 25%

	img
		max-width 100%

.column-3
	float left

.email
	width 50px
	display inline
	margin 0

	@media mobileWidth
		width 20px

.stats
	margin 20px 0 0 0;
	visibility hidden
	display none
	&.stats-loaded
		visibility visible !important
		display block
		clear both !important

	abbr
		font-size mobileAcronym
		letter-spacing 0

	
	@media mobileWidth
		width 100%

#swuigs
	display block
	width 90%
	margin 80px auto

#projects
	margin-top 20px

.project
	width 100%
	margin margin
	padding padding

.project-wrapper
	margin-bottom 70px


.title
	font 51px headlineFont
	// font-weight bold
	letter-spacing -1px
	display inline
	padding 0
	margin 0 15px 0 0
	line-height lineHeight
	
	@media mobileWidth
		font med headlineFont
		letter-spacing 0
		border-top 1px solid textColor
		border-bottom none
		margin 0
		float none
		line-height mobileLineHeight
		padding 15px 0 0 0
		display block

	@media hugeWidth
		font huge headlineFont
		line-height 92px

.description
	font big textFont
	letter-spacing 1px
	transition width 0.4s, height 0.4s

	a
		border 1px solid textColor
		padding 1px 5px 5px 5px
		transition .2s ease
		box-sizing border-box
		whitespace nowrap
		&:after
			// content "↬"
			color #ccc
			vertical-align super
			font-size 20px
		&:hover
			background textColor
			color backgroundColor

		@media mobileWidth
			border none

	p
		padding 0
		display inline


	@media mobileWidth
		font med textFont
		letter-spacing 0px
		display block
		line-height mobileLineHeight
	
	@media hugeWidth
		font huge textFont
		line-height 92px

footer
	font med headlineFont



abbr
	font-size acronym
	letter-spacing 2px

	@media (max-width: 480px) and (min-width: 320px)
		font-size mobileAcronym
	
	@media hugeWidth
		font-size

.med
	font med textFont


.media
	text-align center
	margin: 60px 0 40px 0

.more
	font-family headlineFont
	letter-spacing 0px
	line-border-med()
	

	@media mobileWidth
		border none
		text-decoration underline


.extended
	display inline
	opacity 0
	display none
	cursor pointer
	transition .3s ease

	&.loaded
		opacity 1 !important
		display inline

.postscript
	line-border-med()
	font med headlineFont
	display inline-block
	margin-top -20px
	margin-left 10px

figcaption
	font med headlineFont


input 
	border 1px solid textColor
	width 200px
	font smalle headlineFont
	padding 10px

	&:focus
		outline none !important

input[type=submit]
	background-color #fff
	-webkit-transition defaultTransition
	transition defaultTransition
	width 100px
	
	&:hover
		background textColor
		color backgroundColor
		cursor pointer
input[type=email]
	width 200px

.embed
	max-width 75%
	display block
	margin 10px auto

	@media mobileWidth
		max-width 100%

#bugplayer
	border 1px solid #ccc
	margin-top 50px

#mail
	border none !important


