

headlineFont = 'BauComp', Helvetica, san-serif
textFont = 'Big Caslon', 'Times New Roman', Times, serif
backgroundColor = #fff
textColor = #333
big = 52px
med = 18px
smalle = 14px
lineHeight = 52px
mobileLineHeight = 26px
acronym = remove-unit(big) - unit(2, 'px')
mobileAcronym = remove-unit(med) - unit(1, 'px')
defaultTransition = all 0.2s


html
	background backgroundColor
	margin 0
	padding 0px
	width 100%
	height 100%
	border-top: 2px solid textColor
	box-sizing border-box
	a
		text-decoration none
		color textColor


body
	width 100%
	height 100%
	box-sizing border-box
	line-height lineHeight
	font textFont


#rapper
	width 80%
	position absolute
	margin-left 20%
	padding: 40px
	float left
	box-sizing border-box

	@media (max-width: 480px) and (min-width: 320px)
		padding 15px
		line-height mobileLineHeight
#drawer
	width 20%
	position fixed
	height 100%
	padding: 10px;
	float left
	border-right 1px solid textColor
	box-sizing border-box
	font med textFont


section
	width 100%
	float left
	color textColor
	
	img
		max-width 65%
		display inline-block

		@media (max-width: 480px) and (min-width: 320px)
			max-width 100%
			display inline-block

#projects
	margin-top 20px

.project
	width 100%
	margin margin
	padding padding


.title
	font big headlineFont
	font-weight bold
	letter-spacing -1px
	box-sizing border-box
	border-bottom 1px solid textColor
	padding 0
	margin 0

	p
		// border-bottom 2px solid textColor
		display inline-block
	
	@media (max-width: 480px) and (min-width: 320px)
		font med headlineFont
		font-weight bold
		border-bottom none
		padding 0
		display block

.description
	display inline
	font big textFont
	letter-spacing 1px
	transition width 0.4s, height 0.4s

	p
		padding 0
		display inline

	@media (max-width: 480px) and (min-width: 320px)
		font med textFont
		letter-spacing 0px

footer
	font med headlineFont



abbr
	font-size acronym
	letter-spacing 2px

	@media (max-width: 480px) and (min-width: 320px)
		font-size mobileAcronym




.med
	font med textFont


.media
	text-align center
	margin: 60px 0 40px 0

.more
	cursor pointer
	font-family headlineFont
	letter-spacing 0px

input 
	border 1px solid textColor
	width 200px
	font smalle headlineFont
	padding 10px

	&:focus
		outline none !important

input[type=submit]
	background-color #fff
	-webkit-transition defaultTransition
	transition defaultTransition
	width 100px
	
	&:hover
		background textColor
		color backgroundColor
		cursor pointer






