headlineFont = 'Union', Helvetica, san-serif
textFont = 'Stanley', 'Times New Roman', Times, serif
backgroundColor = #fbfdff
textColor = #333
big = 36px
med = 20px
small = 14px
lineHeight = 38px

html, body
	font textFont
	background backgroundColor
	line-height lineHeight
	margin 0
	padding 20px
	width 98%


section
	width 100%
	float left
	color textColor
	
	img
		max-width 60%
		display inline-block

.project
	width 100%
	margin margin
	padding padding

.title
	font big headlineFont
	font-weight bold
	display inline
	margin 0
	padding 0
	border-bottom 2px solid textColor

	p
		border-bottom 2px solid textColor
		display inline

.description
	display inline
	font big textFont


	p
		margin 0
		padding 0
		display inline


.med
	font med textFont

#projects
	margin-top 20px

.media
	text-align center



