html,
body {
  font: 'Stanley', 'Times New Roman', Times, serif;
  background: #fbfdff;
  line-height: 38px;
  margin: 0;
  padding: 20px;
  width: 98%;
}
section {
  width: 100%;
  float: left;
  color: #333;
}
section img {
  max-width: 60%;
  display: inline-block;
}
.project {
  width: 100%;
  margin: margin;
  padding: padding;
}
.title {
  font: 36px 'Union', Helvetica, san-serif;
  font-weight: bold;
  display: inline;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #333;
}
.title p {
  border-bottom: 2px solid #333;
  display: inline;
}
.description {
  display: inline;
  font: 36px 'Stanley', 'Times New Roman', Times, serif;
}
.description p {
  margin: 0;
  padding: 0;
  display: inline;
}
.med {
  font: 20px 'Stanley', 'Times New Roman', Times, serif;
}
#projects {
  margin-top: 20px;
}
.media {
  text-align: center;
}
