headlineFont = 'Union', Helvetica, san-serif
textFont = 'Stanley', 'Times New Roman', Times, serif
backgroundColor = #fff
textColor = #000
big = 48px
med = 18px

html, body
	font textFont
	background backgroundColor
	margin 0
	padding 10px
	width 98%


section
	width 100%
	float left
	
	img
		max-width 50%
		display inline-block

.project
	width 100%
	margin margin
	padding padding

.title
	font big headlineFont
	font-weight bold
	display inline
	margin 0
	border-bottom 2px solid textColor

.description
	display inline
	font big textFont
	margin-left 10%

	p
		text-indent 10%
		margin 0
		padding 0
		display inline


.med
	font med textFont



