.carousel
  position relative
  margin-bottom 18px
  line-height 1
  .item
    display none
    position relative
    & > img
      display block
      line-height 1
    a
      cursor url('../kirby/assets/images/curses.gif')
  .active
    left 0
    &.left
      left -100%
    &.right
      left 100%
  .next
    left 100%
  .prev
    left -100%

.carousel-inner
  overflow hidden
  width 100%
  position relative

.carousel .active, .carousel .next, .carousel .prev
  display block

.carousel .next, .carousel .prev
  position absolute
  top 0
  width 100%

.carousel .next.left, .carousel .prev.right
  left 0

.carousel-control
  position absolute
  top 0%
  width 50%
  height 100%
  margin-top -20px
  font-size 60px
  font-weight 100
  line-height 30px
  color #ffffff
  opacity 0
  filter alpha(opacity=0)
  &.right
    left auto
    cursor e-resize url('assets/images/curses.gif')
    right 15px
  &.left
    cursor w-resize
  &:hover
    color #ffffff
    text-decoration none
    opacity 0
    filter alpha(opacity=0)

.carousel-caption
  position absolute
  left 0
  right 0
  bottom 0
  padding 10px 15px
  background #333333
  background rgba(0, 0, 0, 0.75)
  p
    color #ffffff
    margin 0

