---
layout: default
---
<article class="post">


  <div class="post-content">
  	<div class="about-intro"><img src="/img/me.jpg">Eric Hu is a multidisciplinary designer and art director. His award-winning design practice has an international reputation for merging progressive visuals grounded in elegance for a variety of clients operating in fashion, music, and architecture and technology. In 2010, Eric was named as an ADC Young Gun by the Art Directors Club of New York. Eric received his BFA from Art Center College of Design in 2011, and his MFA from Yale University in 2013 where he also received the coveted Bradbury Thompson Memorial Prize for Continued Excellence in Graphic Design. He currently is an adjunct professor at the School of Visual Arts.</div>
  </div>
  <div class="about-right">
		<h3>Services</h3>
		<ul>
		<li>Creative Direction</li>
		<li>Branding & Identity Design</li>
		<li>Interaction Design</li>
		<li>Lettering</li>
		<li>Front-End Development</li>
		</ul>
		<h3>Clients</h3>
		<ul>
		<li>Nike</li>
		<li>The New York Times</li>
		<li>3.1 Phillip Lim</li>
		<li>Leong Leong Architecture</li>
		<li>Columbia Records / Wet</li>
		<li>Columbia University</li>
		<li>Mother New York</li>
		<li>Art Palestine International</li>
		<li>Ninja Tune Records / The Bug</li>
		<li>Saint Heron</li>
		<li>CF. Goldman</li>
		<li>Barton F. Graf 9000</li>
		<li>West</li>
		<li>Anki</li>
		<li>Braintree</li>
		<li>Tri Angle Records</li>
		<li>Evian Christ</li>
		<li>UNO</li>
		<li>Sid Lee</li>
		<li>Bangkok CityCity Gallery</li>
		<li>v1984</li>
		</ul>

	</div>
</article>
